doctype html
html 
    head 
        title KeenuDanceAcademy
        block scripts 
        block style 
    body
        nav#navbar  
            ul
                div#logo
                    img(src="/static/logo.png", alt="")
                    |KDA 
                li #[a(href="/") Home ]
                li #[a(href="/") About ]
                li #[a(href="/contact") Contact Us ]
                li #[a(href="/") Services ]
                li #[a(href="/") Class info ]
         
        block content 
        footer#footer 
            | Copyright © 2024 KeenuDanceAcademy.com | All right reserved         